/* main */
.main {
  display: flex;
  flex-direction: column;
  padding-left: 128px;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-items,
.nav-items > p {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  font-family: Inter;
  color: var(--primary-color);
  font-size: 20px;
  white-space: nowrap;
}

.logo {
  width: 52px;
  height: 55px;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 5;
  /* background-color: red; */
  height: 100%;
}
.nav-right {
  flex: 3;
  display: flex;
  align-items: center;
  margin-left: auto;
  /* padding-right: 147px; */
  /* padding-left: 38px; */
  background-color: var(--purple);
  width: 571px;
  height: 100%;
}

.call {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.nav-item-wrapper {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.nav-contact {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.icon-wrapper {
  position: relative;
}

.notification {
  display: flex;
  position: absolute;
  top: -10px;
  right: 5px;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: var(--yellow);
  border: 3px solid var(--purple);
  color: white;
  border-radius: 50%;
}

.border {
  border-right: 1px solid white;
}

.nav-desc {
  font-size: 14px;
}
